@import "normalize";
@import "mixins";

// Typography
$font: Helvetica, Arial, sans-serif;

body {
    font: 14px/1.4em $font;
    background: black;
}

#page {
    @extend .clearfix;

    color: #333;
    background: white;
    margin: 2em auto;
    width: 800px;
    padding: 1em;
}

a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #333;

    &:hover {
        color: black;
        text-decoration: underline;
        border-bottom: none;
    }
}

p {
    margin: 0.5em 0;

    &.first {
        margin-top: 0;
    }

    &.last {
        margin-bottom: 0;
    }
}

header {
    @extend .clearfix;

    padding: 1em 0;
    border-bottom: 1px dotted black;

    h1 {
        margin: 0;
    }
}

footer {
    @extend .clearfix;

    padding: 1em 0;
    border-top: 1px dotted black;
}

#content {
    @extend .clearfix;

    padding: 1em 0;
}

#map-canvas {
    margin-bottom: 1em;
}

#info-window {
    @extend .clearfix;

    .label {
        font-weight: bold;
    }
}

#copyright {
    float: left;
}

#credits {
    float: right;
}

.clearfix {
    @include clearfix;
}
